.cardText {
  font-family: 'Rubik', sans-serif;
  font-size: 0.85rem;
}

.specialBlue {
  background-color: #30638e;
  border-color: #30638e;
}

.CardColumn {
  column-count: 2;
}

.cardLayout {
  margin: '.5rem 1rem';
  width: '25rem';
  max-width:'25rem'
}

@media (min-width: 940px) {
  .CardColumn {
    column-count: 2;
  }
  .cardLayout{
    margin: '.5rem 1rem';
    width: '25rem';
    max-width:'25rem'
  }
}

@media (min-width: 576px) {
  .CardColumn {
    column-count: 1;
  }
  .cardLayout{
    margin: '.5rem 1rem';
    width: '25rem';
    max-width:'25rem'
  }
}

@media (max-width: 576px) {
  .CardColumn {
    column-count: 1;
  }
  .cardLayout{
    width:90vw;
  }
}
