.userProfileBody {
  display: flex;
  flex-direction: row;
  flex: space-between;
  justify-content: space-around;
}

.userProfileBackground {
  background-color: #e9ecef;
  border-radius: 25px;
}

.Map {
  width: 90%;
  max-width: 1000px !important;
  margin: 0;
}

.BucketList {
  width: 34vw;
}

.BucketCardImage {
  min-width: 13rem;
  height: 8rem;
  opacity: 0.65;
  filter: alpha(opacity=65);
}

.BucketCardText {
  color: #003d5b;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-weight:600;
  font-size: 2rem;
}

.BucketButton {
  background-color: #EDAE49;
  border-color: #EDAE49;
  padding: 0.2rem;
  margin: 0.5rem;
}

@media only screen and (max-width: 750px) {
  .userProfileBody {
    display: block;
  }
  .BucketList {
    max-width: 40rem;
  }
}

.userBody {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.userStats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}

.userCountries {
}
/* @media (min-width: 992px) .modal-lg, .modal-xl {
  max-width: 975px;
} */

/* @media all {
  .Map {
    max-width: 1000px;
    margin: 0 auto;
  }
} */
/* style={{flexBasis:'unset'}} */
