.userProfileBody {
  display: flex;
  flex-direction: row;
  flex: space-between;
  justify-content: space-around;
}

.Map {
  width: 90%;
  max-width: 1000px !important;
  margin: 0;
}

.BucketList {
  width: 34vw;
}

@media only screen and (max-width: 750px) {
  .userProfileBody{
    display: block;
  }
  .BucketList{
    max-width:40rem;
  }
}

.userBody {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;


}

.userStats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap-reverse
}

.userCountries {

}
/* @media (min-width: 992px) .modal-lg, .modal-xl {
  max-width: 975px;
} */

/* @media all {
  .Map {
    max-width: 1000px;
    margin: 0 auto;
  }
} */
/* style={{flexBasis:'unset'}} */
